body{
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    background-repeat:no-repeat;
    background-size: cover;
}
.tomDeFundo{
    background-color: #ffffff;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 90%;
}
header{
    display: flex;
    justify-content: center;
}
.logo{
    width: 25%;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    margin-top: 0%;
}
h1{
    text-transform: uppercase;
    color: #363435;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    font-size: xx-large;
}
h2{
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    font-size: larger;
}
p{
    box-sizing: border-box;
    position: absolute;
    top: 60%;
    margin-inline: 28%;
    text-align: center;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 75%;
    background-color: #363435;
    width: 13%;
    text-align: center;
    height: 4%;
    
    
    border-radius: 20px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    color: white;
    animation: fadeIn 1s;
}
.cursorPointer:hover{
    cursor: pointer;
}
.whatsappLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 7%;
    right: 0%;
    margin-right: 5%;
}
h3:hover{
    width: 17%;
    height: 5%;
    font-size: x-large;
    top: 74%;
    background-color: aliceblue;
    color: rgb(0, 255, 115);
}


.barraQuemSou{
    box-sizing: border-box;
    position: absolute;
    background-color: #363435;
    top: 100%;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 40px #363435;
    display: flex;
    justify-content: center;
}
.tituloQuemSou{
    box-sizing: border-box;
    position: absolute;
    top: 5%;
    color: white;
}
.nomeQuemSou{
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: x-large;
    color: #ffffff;
}
.oabQuemSou{
    box-sizing: border-box;
    position: absolute;
    top: 24%;
    margin-top: 1.5%;
    left: 20.1%;
    font-size: small;
    color: white;
}
.paragrafoQuemSou{
    box-sizing: border-box;
    position: absolute;
    text-align: left;
    left: -8%;
    top: 30%;
    margin-right: 50%;
    font-size: large;
    color: white;
}
.fotoAdvogado{
    box-sizing: border-box;
    position: absolute;
    width: 32%;
    display: flex;
    right: 0%;
    margin-right: 15%;
    bottom: 0%;
}


.fachadaAdvocacia{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: -10%;
    z-index: -1;
}
.barraEndereco{
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tituloEndereco{
    box-sizing: border-box;
    position: absolute;
    top: 15%;
    color: #363435;
}
.mapaEndereco{
    box-sizing: border-box;
    position: absolute;
    top: 35%;
    left: 10%;
    width: 40%;
}
.subtituloEndereco{
    box-sizing: border-box;
    position: absolute;
    top: 35%;
    margin-left: 20%;
}
.paragrafoEndereco{
    box-sizing: border-box;
    position: absolute;
    top: 45%;
    text-align: left;
    margin-left: 48%;
}
.barraEndereco{
    box-sizing: border-box;
    position: absolute;
    top: 195%;
    width: 100%;
    height: 100%;
}


.barraServico{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #363435;
    box-shadow: 0px 0px 40px #363435;
    top: 290%;
    justify-content: center;
    display: flex;
}
.tituloServico{
    box-sizing: border-box;
    position: absolute;
    top: 7%;
    color: white;
}
.servico{
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.788);
}
.servico1{
    left: 20%;
    background-color: white;
    width: 10%;
    height: 25%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.ts1{
    top: 0%;
    font-size: larger;
}
.ps1{
    top: 22%;
    margin-inline: 5%;
    font-size: medium;
    line-height: 80%;
}
.servico2{
    left: 45%;
    background-color: white;
    width: 10%;
    height: 25%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.ts2{
    top: 0%;
    font-size: larger;
}
.ps2{
    top: 25%;
    top: 22%;
    margin-inline: 5%;
    font-size: medium;
    line-height: 80%;
}
.servico3{
    left: 70%;
    background-color: white;
    width: 10%;
    height: 25%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.ts3{
    top: 0%;
    font-size: larger;
}
.ps3{
    top: 25%;
    top: 22%;
    margin-inline: 5%;
    font-size: medium;
    line-height: 80%;
}
.servico4{
    left: 20%;
    top: 65%;
    background-color: white;
    width: 10%;
    height: 25%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.ts4{
    top: 0%;
    font-size: larger;
}
.ps4{
    top: 25%;
    top: 22%;
    margin-inline: 5%;
    font-size: medium;
    line-height: 80%;
}
.servico5{
    left: 45%;
    top: 65%;
    background-color: white;
    width: 10%;
    height: 25%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.ts5{
    top: 0%;
    font-size: larger;
}
.ps5{
    top: 25%;
    top: 22%;
    margin-inline: 5%;
    font-size: medium;
    line-height: 80%;
}
.servico6{
    left: 70%;
    top: 65%;
    background-color: white;
    width: 10%;
    height: 25%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.ts6{
    top: 0%;
    font-size: larger;
}
.ps6{
    top: 25%;
    top: 22%;
    margin-inline: 5%;
    font-size: medium;
    line-height: 80%;
}


footer{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    top: 400%;
}
.tituloRedes{
    top: 0%;
}
.fotoCelular{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 15%;
    align-self: center;
    right: 0%;
    margin-right: 20%;
}
.redes1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 6%;
    font-size: x-large;
    top: 25%;
    left: 30%;
    background-color: #ff0095;
    color: white;
}
.imgRedes1{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 7%;
    right: 0%;
    margin-right: 5%;
}
.redes1:hover{
    width: 30%;
    height: 7%;
    left: 28%;
    font-size: xx-large;
    top: 23%;
    background-color: aliceblue;
    color: rgb(255, 0, 149);
}
.redes2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 6%;
    font-size: x-large;
    top: 35%;
    left: 30%;
    background-color: rgb(0, 255, 115);
}
.imgRedes2{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 7%;
    right: 0%;
    margin-right: 5%;
}
.redes2:hover{
    width: 30%;
    height: 7%;
    left: 28%;
    font-size: xx-large;
    top: 33%;
    background-color: aliceblue;
    color: rgb(0, 255, 115);
}
.redes3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 6%;
    font-size: x-large;
    top: 45%;
    left: 30%;
    background-color: #ff0095;
    color: white;
}
.imgRedes3{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 7%;
    right: 0%;
    margin-right: 5%;
}
.redes3:hover{
    width: 30%;
    height: 7%;
    left: 28%;
    font-size: xx-large;
    top: 44%;
    background-color: aliceblue;
    color: rgb(255, 0, 149);
}
.redes4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 6%;
    font-size: x-large;
    top: 55%;
    left: 30%;
    background-color: rgb(0, 255, 115);
    color: white;
}
.imgRedes4{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 7%;
    right: 0%;
    margin-right: 5%;
}
.redes4:hover{
    width: 30%;
    height: 7%;
    left: 28%;
    font-size: xx-large;
    top: 55%;
    background-color: aliceblue;
    color: rgb(0, 255, 115);
}
.criador{
    box-sizing: border-box;
    position: absolute;
    top: 85%;
    left: 5%;
    font-size: medium;
}


.hidden .hidden1 .hidden2 .hidden3 .hidden4 .hidden5 .hidden6 .hidden7 .hidden8{
    visibility: hidden;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
    }
}


@media screen and (max-width:1600px) and (max-height:900px) {
    h2{
        top: 51%;
    }
    h3{
        width: 15%;
    }
    
    .mapaEndereco{
        top: 30%;
    }
    
    .servico{
        top: 22%;
        height: 30%;
    }
    .servico4{
        top: 60%;
    }
    .servico5{
        top: 60%;
    }
    .servico6{
        top: 60%;
    }

}
@media screen and (max-width:1440px) and (max-height:900px) {
    
   h3{
    width: 17%;
   }
   h3:hover{
    width: 21%;
   }

}
@media screen and (max-width:1400px) and (max-height:1050px) {
    
    .logo{
        margin-top: 5%;
        width: 30%;
    }
    h3{
        width: 20%;
    }
    h3:hover{
        width: 23%;
    }

   
    .barraQuemSou{
        top: 95%;
    }
    .fotoAdvogado{
        width: 40%;
    }
    
    
    .fachadaAdvocacia{
        top: 1%;
    }
    .tituloEndereco{
        top: 10%;
    }
    .mapaEndereco{
        top: 30%;
    }
    .subtituloEndereco{
        top: 30%;
    }
    .paragrafoEndereco{
        top: 35%;
    }

    .ts1, .ts2, .ts3, .ts4, .ts5, .ts6{
        font-size: medium;
    }
    
}
@media screen and (max-width:1366px) and (max-height:768px) {
    .logo{
        margin-top: 0%;
        width: 25%;
    }
    
    .oabQuemSou{
        margin-top: 2%;
    }
    .paragrafoQuemSou{
        font-size: medium;
        margin-top: 2%;
    }
    .fotoAdvogado{
        width: 29%;
    }

    .mapaEndereco{
        top: 25%;
        width: 40%;
        height: 60%;
    }
    .tituloEndereco{
        top: 4%;
    }
   
    .servico{
        font-size: small;
    }
    .ts1, .ts2, .ts3, .ts4, .ts5, .ts6{
        margin-bottom: 0%;
    }
    .ps1, .ps2, .ps3, .ps4, .ps5, .ps6{
        top: 20%;
        line-height: 80%;
        font-size: small;
    }
   
    .tituloRedes{
        top: -5%;
    }
   
}
@media screen and (max-width:1280px) and (max-height:1024px) {
    .logo{
        margin-top: 5%;
    }
    h3{   
        width: 20%;
    }
    h3:hover{
        width: 25%;
        height: 5%;
        top: 74%;
    }
   
    .barraQuemSou{
        top: 90%;
    }
    .fotoAdvogado{
        margin-right: 5%;   
    }

    .tituloEndereco{
        top: -1%;
    }
    
    .servico{
        top: 26%;
        height: 25%;
        width: 12%;
    }
    .servico4{
        top: 65%;
    }
    .servico5{
        top: 65%;
    }
    .servico6{
        top: 65%;
    }

    .tituloRedes{
        top: -5%;
    }
    .ps1, .ps2, .ps3, .ps4, .ps5, .ps6{
        top: 20%;
        line-height: 80%;
        font-size: medium;
    }
    .fotoCelular{
        width: 25%;
        margin-right: 15%;
    }
    
}
@media screen and (min-width: 2560px) {

    .fotoAdvogado{
        height: 95%;
    }
    .mapaEndereco{
        width: 40%;
    }
    .fotoCelular{
        width: 30%;
    }
    
}

@media screen and (max-width:768px) {
    
    body{
        background-image: none;
        width: 100%;
        left: 0%;
    }
    .tomDeFundo{
        background-color: rgb(255, 246, 235);
    }


    .logo{
        width: 80%;
        top: 0%;
        margin-top: 5%;
    }
    h2{
        margin-inline: 5%;
        margin-top: 90%;
        top: 0%;
    }
    p{
        margin-inline: 5%;
        margin-top: 0%;
    }
    h3{
        width: 50%;
        font-size: 100%;
        line-height: 170%;
        top: 75%;
    }
    h3:hover{
        width: 50%;
        font-size: 100%;
        line-height: 170%;
        top: 75%;
    }
    
    .barraQuemSou{
        height: 70%;
    }
    .tituloQuemSou{
        top: 0%;
        margin-top: 10%;
    }
    .nomeQuemSou{
        font-size: 110%;
        margin-top: 25%;
        left: 0%;
        top: 0%;
    }
    .oabQuemSou{
        font-size: 80%;
        margin-top: 31%;
        top: 0%;
        left: 0%;
    }
    .paragrafoQuemSou{
        left: 0%;
        top: 0%;
        margin-top: 40%;
        margin-right: 10%;
        font-size: 85%;
    }
    .fotoAdvogado{
        display: none;  
    }

    .fachadaAdvocacia{
        display: none;
    }
    .barraEndereco{
        top: 160%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .tituloEndereco{
        top: 0%;
        margin-top: 15%;
    }
    .subtituloEndereco{
        top: 0%;
        margin-inline: 30%;
        margin-top: 30%;
        text-align: center;
        left: 0%;
    }
    .paragrafoEndereco{
        top: 0%;
        text-align: center;
        margin: 0%;
        margin-top: 50%;
        left: 0%;
        margin-inline: 30%;
    }
    .mapaEndereco{
        height: 40%;
        width: 80%;
        top: 0%;
        margin-top: 110%;
        margin-inline: 10%;
        left: 0%;
    }
    
    .barraServico{
        top: 260%;
    }
    .servico{
        font-size: x-small;
    }
    .tituloServico{
        display: flex;
        left: 0%;
        margin-inline: 10%;
        margin-top: 0%;
        text-align: center;
    }
    .servico1{
        width: 30%;
        left: 13%;
        top: 21%;
        height: 22%;
    }
    .servico2{
        width: 30%;
        top: 21%;
        left: 55%;
        height: 22%;
    }
    .servico3{
        top: 47%;
        left: 13%;
        width: 30%;
        height: 22%;
    }
    .servico4{
        width: 30%;
        left: 55%;
        top: 47%;
        height: 22%;
    }
    .servico5{
        width: 30%;
        left: 13%;
        top: 73%;
        height: 22%;
    }
    .servico6{
        width: 30%;
        left: 55%;
        top: 73%;
        height: 22%;
    }
    .ts1, .ts2, .ts3, .ts4, .ts5, .ts6{
        margin-top: 10%;
        margin-bottom: 0%;
        font-size: small;
    }
    .ps1, .ps2, .ps3, .ps4, .ps5, .ps6{
        font-size: small;
    }

    footer{
        top: 360%;
        height: 70%;
    }
    .redes1, .redes2, .redes3, .redes4{
        width: 80%;
        left: 10%;
    }
    .redes1:hover, .redes2:hover, .redes3:hover, .redes4:hover{
        width: 80%;
        left: 10%;
        font-size: x-large;
    }
    .fotoCelular{
        display: none;
    }
    .tituloRedes{
        top: 0%;
        margin-top: 15%;
    }
    .criador{
        top: 15%;
        left: 0%;
        margin-inline: 14.5%;
        margin-top: 100%;
        text-align: center;
    }
}
